<!--
  Generated template for the AshishPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar no-padding>
    <img src="assets/imgs/top-ab.jpg" />
  </ion-navbar>

</ion-header> -->


<ion-content>
  <ion-slides>
    <ion-slide>
      <content has-header="true">
        <img src="assets/imgs/parents.jpg" />
      </content>
      <ion-content>
        <div class="wa-content" scroll="true">
          <img src="assets/imgs/bottom-monogram.png" alt="" class="reflax">
          <h3>સ્નેહાધીન</h3>
          <img src="assets/imgs/bottom-monogram.png" alt="">
          <br>
          <br> શ્રી ભીખાભાઈ હંસરાજભાઈ સરધારા
          <br> અ.સૌ. જડીબેન ભીખાભાઈ સરધારા
          <br>
          <br> શ્રી નાથાભાઈ હંસરાજભાઈ સરધારા
          <br> અ.સૌ. વજીબેન નાથાભાઈ સરધારા
          <br>
          <br> શ્રી ગાંડુભાઈ હંસરાજભાઈ સરધારા
          <br> અ.સૌ. રમાબેન ગાંડુભાઈ સરધારા
          <br>
          <br> શ્રી બાબુભાઈ હંસરાજભાઈ સરધારા
          <br>અ.સૌ. પ્રભાબેન બાબુભાઈ સરધારા
          <br>
          <br> શ્રી મનસુખભાઈ ભીખાભાઈ સરધારા
          <br>અ.સૌ. હંસાબેન મનસુખભાઈ સરધારા
          <br>
          <br> અ.સૌ. રમાબેન જયંતિભાઈ સરધારા
          <br> શ્રી જયંતિભાઈ ભીખાભાઈ સરધારા
          <br>
          <br> અ.સૌ. લીલાબેન રમેશભાઈ સરધારા
          <br> શ્રી રમેશભાઈ ભીખાભાઈ સરધારા
          <br>
          <br> અ.સૌ. ભાનુબેન રસિકભાઈ સરધારા
          <br> શ્રી રસિકભાઈ નાથાભાઈ સરધારા
          <br>
          <br>અ.સૌ. શારદાબેન પ્રવિણભાઈ સરધારા
          <br>શ્રી પ્રવિણભાઈ નાથાભાઈ સરધારા
          <br>
          <br>અ.સૌ. સુમિતાબેન મનીષભાઈ સરધારા
          <br>શ્રી મનીષભાઈ ગાંડુભાઈ સરધારા
          <br>
          <br>અ.સૌ. હંસાબેન કાંતિભાઈ સરધારા
          <br>શ્રી કાંતિભાઈ બાબુભાઈ સરધારા
          <br>
          <br>અ.સૌ. હીનાબેન ભરતભાઈ સરધારા
          <br>શ્રી ભરતભાઈ બાબુભાઈ સરધારા
          <br>
          <br>અ.સૌ. રાધિકાબેન પિયુષભાઈ સરધારા
          <br>શ્રી પીયુષભાઈ મનસુખભાઈ સરધારા
          <img src="assets/imgs/title_decore.png" alt="" class="res-img">
        </div>
      </ion-content>

    </ion-slide>
    <ion-slide>
      <content has-header="true">
        <img src="assets/imgs/10.jpg" />
      </content>
      <ion-content scroll="true">
        <img src="assets/imgs/bottom-monogram.png" alt="" class="reflax">
        <h3>ભાણેજ પક્ષ</h3>
        <img src="assets/imgs/bottom-monogram.png" alt="">
        <br>
        <br>શ્રી મિલનકુમાર રમેશભાઈ ઠુંમ્મર
        <br>શ્રી મિતુલકુમાર સુરેશભાઈ વૈષ્ણવ
        <br>શ્રી મિહિરકુમાર સુરેશભાઈ વૈષ્ણવ
        <br>
        <br>મંત્ર વિજયકુમાર વેકરીયા
        <br>વેદ નરેન્દ્રકુમાર માલાણી
        <br>
        <img src="assets/imgs/title_decore.png" alt="" class="res-img">
      </ion-content>
    </ion-slide>
    <ion-slide>
      <content has-header="true">
        <img src="assets/imgs/9.jpg" />
      </content>
      <ion-content scroll="true">
        <img src="assets/imgs/bottom-monogram.png" alt="" class="reflax">
        <h3>મોસાળ પક્ષ</h3>
        <img src="assets/imgs/bottom-monogram.png" alt="">
        <br>
        <br>શ્રી નાનજીભાઈ નરશીભાઈ મુંગલપરા
        <br>શ્રી પરસોત્તમભાઈ નરશીભાઈ મુંગલપરા
        <br>શ્રી લવજીભાઈ નરશીભાઈ મુંગલપરા
        <br>શ્રી મગનભાઈ નરશીભાઈ મુંગલપરા
        <img src="assets/imgs/title_decore.png" alt="" class="res-img">
      </ion-content>
    </ion-slide>
    <ion-slide>
      <content has-header="true">
        <img src="assets/imgs/bhatriji.jpg" />
      </content>
      <ion-content scroll="true">
        <img src="assets/imgs/bottom-monogram.png" alt="" class="reflax">
        <h3>
          દર્શનાભિલાશી
        </h3>
        <img src="assets/imgs/bottom-monogram.png" alt="">
        <br>તમે આવો તો સ્વજનોનો સાથ મળી જાય,
        <br>તમે આવો તો અવસર આનંદોત્સવ બની જાય,
        <br>લગ્ન એક પરંપરા છે… જો તમે આવો તો,
        <br>પરંપરા રૂડો પ્રસંગ બની જાય…
        <br>
        <br>શ્રી આશિષકુમાર રમેશભાઈ સરધારા
        <br>શ્રી ભાર્ગવકુમાર રસિકભાઈ સરધારા
        <br>શ્રી યશકુમાર પ્રવિણભાઈ સરધારા
        <br>શ્રી હર્ષિલકુમાર કાંતિભાઈ સરધારા
        <br>
        <br>કુ. વૃષ્ટિ પિયુષભાઈ સરધારા
        <br>કુ. આરાધ્યા પિયુષભાઈ સરધારા
        <br>કુ. દિશા રસિકભાઈ સરધારા
        <br>સ્વ. મુદ્રા પ્રવિણભાઈ સરધારા
        <br>કુ. દ્રીજા મનીષભાઈ સરધારા
        <br>કુ. રાજવી કાંતિભાઈ સરધારા
        <br>કુ. અશિતિ ભરતભાઈ સરધારા
        <br>કુ. લહેર ભરતભાઈ સરધારા
        <br>
        <img src="assets/imgs/title_decore.png" alt="" class="res-img">
      </ion-content>

    </ion-slide>

    <ion-slide>
      <content has-header="true">
        <img src="assets/imgs/bhanej.jpg" />
      </content>
      <ion-content scroll="true" padding>
        <img src="assets/imgs/bottom-monogram.png" alt="" class="reflax">
        <h3>મધુર અવાજ</h3>
        <img src="assets/imgs/bottom-monogram.png" alt="">
        <br>
        <br> કોયલના ટહુકારે, મનના મલકારે, ઉગતી ઉષાએ, આથમતી સંધ્યાએ,
        <br>ડગલામાં દસવાર, પગલામાં પંદરવાર, નયનમાં નેવું વાર, સપનામાં સો વાર,
        <br> હૈયામાં હજારવાર, લખતી વખતે લાખો વાર,
        <br> આપને કહેવાનું કે મારા મામાના ને કાકાના લગ્નમાં જરૂર ને જરૂર આવજો….
        <br>
        <strong>વેદ, મંત્ર</strong>
        <br>
        <strong>વૃષ્ટિ, આરાધ્યા</strong>
        <br>
        <img src="assets/imgs/title_decore.png" alt="" class="res-img">
      </ion-content>

    </ion-slide>
  </ion-slides>
</ion-content>
