page-ashish {
  .scroll-content {
    overflow: hidden;
  }
  color: maroon;
  .header-ios {
    .toolbar-content {
      padding-bottom: 15px;
    }
    .toolbar-ios:last-child {
      .toolbar-background-ios {
        border-width: 0 0 0px;
        background: none;
      }
    }
  }
  .header-md::after {
    background-image: none;
    height: 0px;
  }
  .col {
    font-size: 16px;
  }
  ion-slide {
    color: maroon;
    content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }
    .reflax {
      transform: rotateX(180deg);
    }
    .res-img {
      margin: 15px 0px;
      max-width: 55%;
      height: auto;
    }
    ion-content {
      .scroll-content {
        overflow-y: auto;
      }
      font-size: 16px;
      height: 500px;
      margin-top: 290px;
      @include size_375 {
        height: 440px;
        margin-top: 280px;
      }
      @include size_320 {
        height: 395px;
        margin-top: 231px;
      }
    }
  }
}
