<!-- <ion-header>
  <ion-navbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Follow us on Twitter</ion-list-header>
    <ion-item>
      <ion-icon name="ionic" item-start></ion-icon>
      @ionicframework
    </ion-item>
  </ion-list>
</ion-content> -->


<ion-content>
  <ion-slides>
    <ion-slide>
      <content has-header="true" #iframe>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3700.2047222423876!2d70.80573791432472!3d21.9651045605306!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3958389e9388a69d%3A0x7428088fadf44bc5!2sLEUVA+PATEL+VADI!5e0!3m2!1sen!2sin!4v1515272265265"
          height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
      </content>
      <ion-content scroll="true" text-center>
        <img src="assets/imgs/bottom-monogram.png" alt="" class="reflax">
        <h3> શુભ લગ્ન સ્થળ</h3>
        <img src="assets/imgs/bottom-monogram.png" alt="">
        <br>
        <br> લેઉઆ પટેલ સમાજવાડી,
        <br> ભગવતપરા, ગોંડલ - ૩૬૦૦૧૧
        <br>
        <img src="assets/imgs/title_decore.png" alt="" class="res-img">
      </ion-content>

    </ion-slide>
    <ion-slide>
      <content has-header="true">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3692.3007720168685!2d70.76800456433021!3d22.26659369974581!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3959ca4ddf20e563%3A0x444c1a9d33b41d2b!2sNew+Gandhinagar+Society%2C+Mavdi%2C+Rajkot%2C+Gujarat+360004!5e0!3m2!1sen!2sin!4v1515272099076"
          height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
      </content>
      <ion-content scroll="true" text-center>
        <img src="assets/imgs/bottom-monogram.png" alt="" class="reflax">
        <h3>શુભ નિવાસ સ્થાન</h3>
        <img src="assets/imgs/bottom-monogram.png" alt="">
        <br>
        <br>
        <strong>"અચ્યુત"</strong>, ન્યુ ગાંધીનગર કો. ઓ. હા. સોસાયટી - ૧,
        <br>કષ્ટભંજન હનુમાનજી મંદિર ની પાસે,
        <br>૪૦ ફૂટ રોડ, રાજકોટ-૩૬૦૦૦૪.
        <br>મો. ૯૪૨૭૨ ૫૩૮૮૮૪
        <br>મો. ૮૭૫૮૨ ૮૪૩૮૯
        <br>
        <img src="assets/imgs/title_decore.png" alt="" class="res-img">
      </ion-content>
    </ion-slide>
    <ion-slide>
      <content has-header="true">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14769.195669822899!2d70.7628482671816!3d22.266663985341015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjLCsDE1JzYwLjAiTiA3MMKwNDYnMTcuOCJF!5e0!3m2!1sen!2sin!4v1516600539254"
          height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
      </content>
      <ion-content scroll="true" text-center>
        <img src="assets/imgs/bottom-monogram.png" alt="" class="reflax">
        <h3> ભોજન સમારંભ 
          & દાંડિયા રાસ</h3>
        <img src="assets/imgs/bottom-monogram.png" alt="">
        <br>
        <br> કોમન પ્લોટ
        <br> ન્યુ ગાંધીનગર કો. ઓ. હા. સોસાયટી - ૧૦,
        <br> SKP સ્કૂલની સામે, ૪૦ ફૂટ રોડ, રાજકોટ-૩૬૦૦૦૪.
        <br>મો. ૯૪૨૭૨ ૫૩૮૮૮૪
        <br>મો. ૮૭૫૮૨ ૮૪૩૮૯
        <br>
        <img src="assets/imgs/title_decore.png" alt="" class="res-img">
      </ion-content>
    </ion-slide>
  </ion-slides>
</ion-content>
