page-contact {
  .scroll-content {
    overflow: hidden;
  }
  ion-slide {
    content {
      display: inline-block;
      width: 100%;
      iframe {
        width: 100%;
        margin-bottom: 0px;
      }
    }
    .reflax {
      transform: rotateX(180deg);
    }
    .res-img {
      max-width: 55%;
      height: auto;
      margin-top: 20px;
    }
    ion-content {
      font-size: 16px;
      height: 430px;
      margin-top: 12px;
      .scroll-content {
        overflow-y: hidden;
      }
      @include size_375 {
        height: 360px;
        margin-top: 10px;
      }
      @include size_320 {
        height: 264px;
        margin-top: 10px;
      }
    }
  }
  .swiper-pagination {
    &.hide {
      display: inline-block !important;
    }
    button {
      &.swiper-pagination-bullet-active {
        background: red;
        opacity: 1;
        margin: 0px 20px !important;
      }
      &.swiper-pagination-bullet {
        margin: 0px 20px !important;
        width: 12px;
        height: 12px;
      }
    }
  }
}
