<!-- <ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header> -->


<ion-content >
  <ion-slides>
    <ion-slide>
      <img src="assets/imgs/01.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/imgs/1.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/imgs/02.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/imgs/2.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/imgs/03.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/imgs/3.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/imgs/04.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/imgs/4.jpg" />
    </ion-slide>
  </ion-slides>
</ion-content>
