page-dates {
  color: maroon;
  .scroll-content {
    overflow: hidden;
  }
  ion-slide {
    h3 {
      font-weight: 600;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .reflax {
      transform: rotateX(180deg);
    }
    .res-img {
      max-width: 55%;
      height: auto;
      margin-top: 20px;
    }
    ion-content {
      font-size: 16px;
      height: 460px;
      margin-top: 10px;
      .scroll-content {
        overflow-y: auto;
      }
      @include size_375 {
        height: 408px;
        margin-top: 0px;
      }
      @include size_320 {
        height: 360px;
        margin-top: 0px;
      }
    }
  }
}
