<!--
  Generated template for the AshishPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar no-padding>
    <img src="assets/imgs/top-ab.jpg" />
  </ion-navbar>

</ion-header> -->


<ion-content>
  <ion-slides>
    <ion-slide>
      <content has-header="true">
        <img src="assets/imgs/sanjina-geet.jpg" />
      </content>
      <ion-content scroll="true" text-center>
        <img src="assets/imgs/bottom-monogram.png" alt="" class="reflax">
        <h3>
          અવસર માંગલ્યમ
        </h3>
        <img src="assets/imgs/bottom-monogram.png" alt="">
        <h4>સાંજીના ગીત</h4>
        તા. ૧૯-૨-૨૦૧૮ - સોમવાર
        <br> બપોરે ૨:૩૦ કલાકે
        <br>
        <img src="assets/imgs/title_decore.png" alt="" class="res-img">
      </ion-content>

    </ion-slide>
    <ion-slide>
      <content has-header="true">
        <img src="assets/imgs/mandap.jpg" />
      </content>
      <ion-content scroll="true" text-center>
        <img src="assets/imgs/bottom-monogram.png" alt="" class="reflax">
        <h3> અવસર માંગલ્યમ </h3>
        <img src="assets/imgs/bottom-monogram.png" alt="">
        <h4>મંડપ મુહુર્ત</h4>
        તા. ૧૯-૨-૨૦૧૮ - સોમવાર
        <br> બપોરે ૩:૦૦ કલાકે
        <br>
        <img src="assets/imgs/title_decore.png" alt="" class="res-img">
      </ion-content>
    </ion-slide>
    <ion-slide>
      <content has-header="true">
        <img src="assets/imgs/dinner.jpg" />
      </content>
      <ion-content scroll="true" text-center>
        <img src="assets/imgs/bottom-monogram.png" alt="" class="reflax">
        <h3>અવસર માંગલ્યમ</h3>
        <img src="assets/imgs/bottom-monogram.png" alt="">
        <h4>ભોજન સમારંભ</h4>
        તા. ૧૯-૨-૨૦૧૮ સોમવાર
        <br> સાંજે ૭:૦૦ કલાકે
        <br> કોમન પ્લોટ
        <br> ન્યુ ગાંધીનગર કો. ઓ. હા. સોસાયટી - ૧૦,
        <br> SKP સ્કૂલની સામે, ૪૦ ફૂટ રોડ, રાજકોટ-૩૬૦૦૦૪.
        <br>
        <img src="assets/imgs/title_decore.png" alt="" class="res-img">
      </ion-content>
    </ion-slide>
    <ion-slide>
      <content has-header="true">
        <img src="assets/imgs/rash.jpg" />
      </content>

      <ion-content scroll="true" text-center>
        <img src="assets/imgs/bottom-monogram.png" alt="" class="reflax">
        <h3>અવસર માંગલ્યમ</h3>
        <img src="assets/imgs/bottom-monogram.png" alt="">
        <h4> દાંડિયા રાસ</h4>
        તા. ૧૯-૨-૨૦૧૮ - સોમવાર
        <br>સાંજે ૯:૦૦ કલાકે
        <br>કોમન પ્લોટ
        <br>ન્યુ ગાંધીનગર કો. ઓ. હા. સોસાયટી - ૧૦,
        <br>SKP સ્કૂલની સામે, ૪૦ ફૂટ રોડ, રાજકોટ-૩૬૦૦૦૪.
        <br>
        <img src="assets/imgs/title_decore.png" alt="" class="res-img">
      </ion-content>
    </ion-slide>
    <ion-slide>
      <content has-header="true">
        <img src="assets/imgs/jan-prasthan.jpg" />
      </content>

      <ion-content scroll="true" text-center>
        <img src="assets/imgs/bottom-monogram.png" alt="" class="reflax">
        <h3>અવસર માંગલ્યમ</h3>
        <img src="assets/imgs/bottom-monogram.png" alt="">
        <h4>જાન પ્રસ્થાન</h4>

        તા. ૨૦-૨-૨૦૧૮ - મંગળવાર
        <br> વહેલી સવારે
        <br>
        <img src="assets/imgs/title_decore.png" alt="" class="res-img">
      </ion-content>
    </ion-slide>
    <ion-slide>
      <content has-header="true">
        <img src="assets/imgs/hands.jpg" />
      </content>

      <ion-content scroll="true" text-center>
        <img src="assets/imgs/bottom-monogram.png" alt="" class="reflax">
        <h3>અવસર માંગલ્યમ</h3>
        <img src="assets/imgs/bottom-monogram.png" alt="">
        <h4>હસ્ત મેળાપ</h4>

        તા. ૨૦-૨-૨૦૧૮ - મંગળવાર
        <br> સવારે ૧૦:૩૦ વાગે
        <br>
        <img src="assets/imgs/title_decore.png" alt="" class="res-img">
      </ion-content>
    </ion-slide>
  </ion-slides>
</ion-content>
