// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-icon {
  &[class*="icon-"] {
    -webkit-mask-size: contain;
    -webkit-mask-posion: 50% 50%;
    -webkit-mask-repeat: no-repeat;
    background: currentColor;
    width: 1em;
    height: 1em;
    padding: 0px;
  }
  &[class*="icon-couple"] {
    -webkit-mask-image: url(../assets/imgs/couple.png);
  }
  &[class*="icon-card"] {
    -webkit-mask-image: url(../assets/imgs/card.png);
  }
  &[class*="icon-aashirvad"] {
    -webkit-mask-image: url(../assets/imgs/aashirvad.png);
  }
  &[class*="icon-dates"] {
    -webkit-mask-image: url(../assets/imgs/dates.png);
  }
  &[class*="icon-map"] {
    -webkit-mask-image: url(../assets/imgs/map.png);
  }
}

h2,
h3,
h4 {
  color: maroon;
  font-weight: 600;
}

h3 {
  font-size: 24px;
  margin: 0px;
  @include size_320 {
    font-size: 20px;
  }
}

h4 {
  font-size: 20px;
  margin-bottom: 20px;
  @include size_320 {
    font-size: 18px;
  }
}

.scroll-content {
  color: maroon;
}
